
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

body {
    color: black;
    text-align: center;
}

h1 {
    color: black;
    text-align: left;
}
h2 {
    color: black;
    background-color: lightblue;
    text-align: left;
}
h3 {
    color: black;
    text-align: left;
    border-left: thin,solid;
    border-left-color: blue;
    border-top: thin,solid;
    border-top-color: blue;
}
.hero-section {
  background-image: url('https://images.pexels.com/photos/3881247/pexels-photo-3881247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w');
  max-height: 830px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
 }
 @media (max-width: 360px) {
  .hero-section {
    background-size: 150%;
  }
}